<!DOCTYPE html>
<html lang="en">
  <head>
    <title>11ty-til</title>
    <style>
      * {
        margin: 0px;
      }
      main {
        width: 50vw;
        margin: 4rem auto;
        padding: 1.2rem;
        box-shadow: 2px 2px 6px grey;
        border-radius: 5px;
        background-color: #e8e4f1;
        color: #2c2c2c;
        line-height: 2rem;
        font-size: 1.6rem;
        font-family: system-ui, sans-seriff;
      }

      h1 {
        color: #472b76;
        line-height: 3rem;
        margin-bottom: 1.2rem;
      }

      a {
        text-decoration: none;
        color: #8d77b3;
      }

      a:hover {
        color: #4e3875;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>Blog list</h1>
      <ul>
        {% for blog in collections.all%} {% if blog.url != "/" %}
        <li>
          <a href="{{ blog.url }}">{{ blog.data.title }} </a>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </main>
  </body>
</html>
