<!DOCTYPE html>
<html lang="en">
  <head>
    <title>11ty-til</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <main>
      <h1>Blog list</h1>
      <ul>
        {% for blog in collections.all%} {% if blog.url != "/" %}
        <li>
          <a href="{{ blog.url }}">{{ blog.data.title }} </a>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </main>
  </body>
</html>
