<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <style>
      * {
        margin: 0px;
      }

      body {
        background-color: #d6e6f210;
        line-height: 1.4rem;
      }

      h2,
      h3 {
        color: #3a5a78;
      }

      h3 {
        text-decoration: underline;
        margin: 0.6rem 0rem 0.4rem 0rem;
      }

      code {
        background-color: #547aa528;
        color: #547aa5;
        padding: 0.2rem;
      }

      main {
        width: 50vw;
        background-color: #d6e6f2;
        color: #2c2c2c;
        box-shadow: 2px 2px 8px grey;
        border-radius: 0.3rem;
        font-family: system-ui, sans-serif;
        padding: 1rem 1.2rem 1rem 1.2rem;
        margin: 2rem auto;
      }
    </style>
  </head>
  <body>
    <main>{{ content | safe }}</main>
  </body>
</html>
