:root {
  --bodyBg: ghostwhite;
  --headingsColor: #0d47a1;
  --codeBg: #607d8b25;
  --codeColor: #275267;
  --blogBg: #e3f2fd;
  --blogColor: #37474f;
  --mainColor: #e8e4f1;
  --h1Color: #472b76;
  --linkColor: #8d77b3;
  --linkHover: #4e3875;
}
* {
  margin: 0px;
}

main {
  width: 50vw;
  background-color: var(--blogBg);
  color: var(--blogColor);
  box-shadow: 2px 2px 8px grey;
  border-radius: 0.4rem;
  font-family: system-ui, sans-serif;
  line-height: 2rem;
  padding: 4rem;
  margin: 2rem auto;
}

#main-page {
  background-color: var(--mainColor);
  font-size: 1.6rem;
}

body {
  background-color: var(--bodyBg);
  font-size: 1.4rem;
}

h2,
h3 {
  color: var(--headingsColor);
}

h3 {
  text-decoration: underline;
  margin: 0.6rem 0rem 0.4rem 0rem;
}

code {
  background-color: var(--codeBg);
  color: var(--codeColor);
  padding: 0.2rem;
}

h1 {
  color: var(--h1Color);
  margin-bottom: 1.6rem;
}

a {
  text-decoration: none;
  color: var(--linkColor);
}

a:hover {
  color: var(--linkHover);
}
