:root {
  --bodyBg: ghostwhite;
  --headingsColor: #0d47a1;
  --codeBg: #607d8b25;
  --codeColor: #275267;
  --mainBg: #e3f2fd;
  --mainColor: #37474f;
}
* {
  margin: 0px;
}

body {
  background-color: var(--bodyBg);
  line-height: 2rem;
  font-size: 1.4rem;
}

h2,
h3 {
  color: var(--headingsColor);
}

h3 {
  text-decoration: underline;
  margin: 0.6rem 0rem 0.4rem 0rem;
}

code {
  background-color: var(--codeBg);
  color: var(--codeColor);
  padding: 0.2rem;
}

main {
  width: 50vw;
  background-color: var(--mainBg);
  color: var(--mainColor);
  box-shadow: 2px 2px 8px grey;
  border-radius: 0.4rem;
  font-family: system-ui, sans-serif;
  padding: 4rem;
  margin: 2rem auto;
}

main {
  width: 50vw;
  margin: 4rem auto;
  padding: 1.2rem;
  box-shadow: 2px 2px 6px grey;
  border-radius: 5px;
  background-color: #e8e4f1;
  color: #2c2c2c;
  line-height: 2rem;
  font-size: 1.6rem;
  font-family: system-ui, sans-seriff;
}

h1 {
  color: #472b76;
  line-height: 3rem;
  margin-bottom: 1.2rem;
}

a {
  text-decoration: none;
  color: #8d77b3;
}

a:hover {
  color: #4e3875;
}
